include LICENSE README.md .pre-commit-config.yaml
recursive-include tests *.py *.yaml *.csv *.txt
recursive-include .github *.yml
recursive-include examples *.yaml
recursive-include release *.md *.py *.sh *.yaml
